/* CSS Document */

/*General*/
body {
	position: relative;
	font-family: Arial,Helvetica,sans-serif;
}
section {
	height: 850px;
	color: #fff;
}

#sec_01 {
	background-color: #CACACA;
}
#sec_02 {
	background-color: #6A6A6A;
}
#sec_03 {
	background-color: #B19899;
}
#sec_04 {
	background-color: #C3DAC7;
}

#sec_05{
	height: 300px !important;
}
.padding{
	padding-top: 30px;
	padding-bottom: 30px;
}
h1,h2{
	padding-top: 50px;
	font-family: "changa-one";
}

h1{
	font-size: 52px;
}
h2{
	font-size:36px;
}
/*Section 1*/
.main_heading_container{
	padding: 150px 500px 200px 100px;
}

.main_heading{
	font-size:86px;
    vertical-align: baseline;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	line-height: 1em;
}
.sub_heading{
	display: none;
}

.main_heading{
	display:none;
}
/*End of sec 1*/

/*Section 2*/
.sec02_container{
	height: 100%;
}
.about_me_con{
	background-color: rgba(47,47,47,1.00);
	height: 850px;
}

.about_me_text{
	padding: 100px 0px 0px 20px;
}
/*End of sec 2*/

/*Section 3*/

/*End of sec 3*/

/*Section 4 Meal*/
.meal .col-lg-2{
	border-right: 2px solid green;
    height: 500px;
}
.meal .col-lg-3{
	border-right: 2px solid green;
    height: 500px;
}

/*End of sec 4*/

/*Footer*/
footer{
	height: 300px;
	background-color: rgba(0,0,0,1.00); 
}